/* -----------------------------------------------------------------------------------------------
 * This file is loaded by Custom CSS and JS loader extension.
 * Update the path in vscode_custom_css.imports in settings.json. That path is where you save this file.
 * -----------------------------------------------------------------------------------------------*/

 .editor .title {
    background: transparent !important;
  }

  .editor .title .label-container {
    visibility: hidden !important;
  }

  .editor .title .actions-container .action-item a {
    visibility: hidden !important;
  }

  .editor .title .actions-container .action-item a[title=\"Open Settings (UI)\"] {
    visibility: initial;
  }

  .editor
    .title
    .actions-container
    .action-item
    a[title=\"Open Settings (JSON)\"] {
    visibility: initial;
  }

  .editor .title .actions-container {
    flex-direction: row-reverse;
  }

  .editor .scrollbar .slider {
    visibility: hidden;
  }

  .editor .scrollbar:hover .slider {
    visibility: initial;
  }

  .monaco-editor .cursor {
    background: linear-gradient(to bottom, #7f00ff, #e100ff) !important;
    color: #292d3e !important;
    transition: all 220ms cubic-bezier(0.22, 1, 0.36, 1) !important;
  }

  div.title.show-file-icons.title-border-bottom {
    display: none !important;
  }

  .titlebar > div.titlebar-container > a {
    opacity: 0 !important;
  }

  .titlebar > div.titlebar-container > div.window-title {
    opacity: 0 !important;
  }

  .titlebar
    > div.titlebar-container
    > div.layout-controls-container.show-layout-control {
    display: none !important;
  }

  .titlebar {
    border-bottom: none !important;
  }

  .linux {
    font-family: "SF Mono, Fira Code Mono, system-ui,Ubuntu,Droid Sans",
      sans-serif !important;
  }

  .monaco-editor .scroll-decoration {
    box-shadow: none !important;
  }

  div.monaco-scrollable-element
    > div.split-view-container
    > div
    > div
    > div.title.show-file-icons.title-border-bottom {
    display: none !important;
  }

  /* ************************************ 05/05/23 ******************************************* */
  .monaco-workbench .part.titlebar > .titlebar-container > .titlebar-left,
  .monaco-workbench .part.titlebar > .titlebar-container > .titlebar-center {
    opacity: 0 !important;
  }

  .monaco-workbench .part.titlebar > .titlebar-container > .titlebar-right {
    display: none !important;
  }

  .monaco-workbench
    .part.editor
    > .content
    .editor-group-container
    > .title:not(.tabs) {
    display: none !important;
  }

  .monaco-pane-view .split-view-view:first-of-type > .pane > .pane-header {
    border-radius: 10px !important;
  }

  .monaco-list-row:hover:not(.selected):not(.focused) {
    border-radius: 10px !important;
  }

  .monaco-list-row.focused.selected {
    border-radius: 10px !important;
  }

  /* Remove Shortcuts that are display when no files are open */
  .monaco-workbench
    .editor-group-container
    > .editor-group-watermark
    > .shortcuts {
    display: none !important;
  }

  .cursor {
    transition: all 0.17s !important;
  }

  /* custom svg data URI */
  .monaco-workbench.vs-dark
    .part.editor
    > .content
    .editor-group-container
    .editor-group-watermark
    > .letterpress {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22281%22%20height%3D%22225%22%20viewBox%3D%220%200%20281%20225%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20filter%3D%22url(%23filter0_d_42_2)%22%3E%3Cpath%20d%3D%22M230.321%20112.424C229.889%20110.402%20228.967%20108.518%20227.636%20106.938C226.305%20105.357%20224.605%20104.129%20222.688%20103.361C220.839%20102.643%20218.852%20102.355%20216.876%20102.517C214.9%20102.678%20212.986%20103.287%20211.279%20104.296C210.447%20104.699%20209.502%20104.805%20208.602%20104.598C207.701%20104.392%20206.898%20103.883%20206.325%20103.158C201.971%2097.7473%20195.869%2094.0252%20189.069%2092.6319C185.843%2082.6317%20178.872%2074.2709%20169.62%2069.3043C164.633%2066.6592%20159.011%2065.4494%20153.379%2065.8092C149.607%2060.8825%20144.751%2056.8931%20139.187%2054.1512C133.624%2051.4093%20127.504%2049.9887%20121.303%2050.0001C113.428%2049.9864%20105.723%2052.2907%2099.1459%2056.6263C92.5692%2060.9619%2087.4112%2067.1373%2084.3138%2074.3843C80.331%2075.0831%2076.4461%2076.2565%2072.742%2077.8794C64.4708%2081.9347%2057.8227%2088.6841%2053.8892%2097.0198C49.9557%20105.356%2048.9705%20114.782%2051.0953%20123.752C53.22%20132.722%2058.3285%20140.703%2065.5821%20146.384C72.8358%20152.065%2081.8035%20155.108%2091.0132%20155.015C94.6156%20159.986%2099.2966%20164.075%20104.705%20166.975C110.112%20169.875%20116.107%20171.51%20122.237%20171.759H123.495C128.225%20171.75%20132.886%20170.622%20137.097%20168.467C141.164%20171.293%20145.761%20173.263%20150.611%20174.257C155.461%20175.251%20160.462%20175.248%20165.311%20174.248C170.16%20173.249%20174.755%20171.273%20178.818%20168.442C182.881%20165.611%20186.327%20161.983%20188.947%20157.779C196.797%20157.663%20204.472%20155.446%20211.176%20151.358C217.881%20147.271%20223.37%20141.461%20227.073%20134.532C230.731%20127.778%20231.882%20119.946%20230.321%20112.424ZM221.632%20131.769C218.342%20137.946%20213.395%20143.082%20207.349%20146.6C201.302%20150.118%20194.395%20151.878%20187.404%20151.683H185.455L184.399%20153.064C181.598%20158.218%20177.368%20162.452%20172.219%20165.256C167.022%20167.88%20161.193%20168.986%20155.398%20168.447C149.603%20167.908%20144.076%20165.746%20139.452%20162.208L137.706%20160.867L135.839%20162.005C132.17%20164.25%20127.957%20165.445%20123.658%20165.46H122.602C117.159%20165.25%20111.845%20163.739%20107.105%20161.052C102.365%20158.365%2098.3367%20154.581%2095.3577%20150.016L94.302%20148.391H92.3531C91.2162%20148.391%2090.0794%20148.391%2088.9425%20148.391C82.3118%20148.411%2075.8183%20146.501%2070.2529%20142.893C64.6875%20139.285%2060.2904%20134.135%2057.5972%20128.07C55.7001%20123.782%2054.7182%20119.145%2054.7144%20114.456C54.7043%20107.821%2056.6168%20101.326%2060.2201%2095.7574C63.8234%2090.1887%2068.9628%2085.7855%2075.0157%2083.0814C78.8342%2081.492%2082.8495%2080.4258%2086.9529%2079.9115L88.8207%2079.6676L89.4703%2077.9201C91.5992%2072.4578%2095.0837%2067.6286%2099.5948%2063.8883C104.106%2060.1481%20109.495%2057.6202%20115.253%2056.5432C117.239%2056.2061%20119.248%2056.0294%20121.262%2056.0149C126.766%2056.0037%20132.19%2057.3291%20137.07%2059.8773C141.95%2062.4256%20146.139%2066.1206%20149.278%2070.6454L150.374%2072.2304L152.283%2071.9459C157.271%2071.3079%20162.334%2072.2306%20166.778%2074.5875C170.899%2076.8402%20174.511%2079.9192%20177.389%2083.6323C180.268%2087.3454%20182.35%2091.6127%20183.506%2096.1676L184.075%2098.2403L186.186%2098.5248C192.22%2099.3036%20197.713%20102.409%20201.493%20107.181C203.06%20109.043%20205.22%20110.307%20207.609%20110.758C209.999%20111.21%20212.471%20110.822%20214.608%20109.66C215.449%20109.154%20216.393%20108.843%20217.37%20108.752C218.347%20108.66%20219.332%20108.79%20220.252%20109.132C221.254%20109.491%20222.151%20110.095%20222.861%20110.89C223.57%20111.686%20224.069%20112.646%20224.312%20113.684C225.57%20119.774%20224.619%20126.113%20221.632%20131.565V131.769Z%22%20fill%3D%22%2341B883%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M193.869%20113.056C192.189%20110.774%20189.832%20109.078%20187.133%20108.211C184.434%20107.344%20181.53%20107.348%20178.833%20108.223C178.356%20108.373%20177.851%20108.406%20177.358%20108.32C176.866%20108.234%20176.402%20108.031%20176.004%20107.729C175.606%20107.427%20175.286%20107.034%20175.071%20106.583C174.857%20106.132%20174.753%20105.636%20174.77%20105.137C174.889%20100.602%20173.739%2096.1233%20171.448%2092.2061C169.158%2088.2888%20165.819%2085.0884%20161.806%2082.9652C160.101%2082.0531%20158.229%2081.4932%20156.302%2081.3188C154.375%2081.1443%20152.433%2081.359%20150.591%2081.95C150.591%2082.3967%20150.875%2082.7621%20150.956%2083.1682C151.66%2085.9355%20151.787%2088.8177%20151.329%2091.636C150.872%2094.4544%20149.839%2097.1486%20148.296%2099.5514C146.753%20101.954%20144.731%20104.014%20142.358%20105.604C139.984%20107.194%20137.309%20108.279%20134.499%20108.792C133.249%20108.999%20131.986%20109.108%20130.719%20109.117C126.549%20109.081%20122.486%20107.793%20119.057%20105.421C115.55%20103.001%20112.881%2099.5533%20111.417%2095.5536C111.276%2095.1268%20111.229%2094.6746%20111.279%2094.2279C111.328%2093.7813%20111.474%2093.3505%20111.705%2092.9651C111.937%2092.5797%20112.248%2092.2487%20112.619%2091.9947C112.99%2091.7406%20113.412%2091.5694%20113.855%2091.4928C114.589%2091.3696%20115.342%2091.5047%20115.987%2091.8751C116.632%2092.2454%20117.128%2092.8279%20117.39%2093.5232C118.403%2096.1768%20120.186%2098.4676%20122.511%20100.102C124.153%20101.271%20126.022%20102.085%20127.997%20102.491C129.973%20102.896%20132.011%20102.884%20133.982%20102.456C135.953%20102.028%20137.812%20101.192%20139.44%20100.004C141.069%2098.815%20142.431%2097.2992%20143.439%2095.5536C145.285%2091.5136%20145.617%2086.945%20144.373%2082.6809L143.886%2081.3409C142.073%2076.1484%20138.556%2071.7213%20133.907%2068.7794C129.257%2065.8376%20123.749%2064.5541%20118.276%2065.1376C112.804%2065.7211%20107.691%2068.1374%20103.767%2071.9934C99.8435%2075.8495%2097.3407%2080.9185%2096.6657%2086.3762C96.5318%2087.1291%2096.1365%2087.8106%2095.5493%2088.3008C94.962%2088.7911%2094.2206%2089.0586%2093.4554%2089.0563C88.2893%2088.9132%2083.1553%2089.9116%2078.4198%2091.9801C72.6867%2094.5891%2068.1721%2099.2944%2065.8049%20105.128C63.4376%20110.962%2063.3976%20117.48%2065.6932%20123.343C67.9888%20129.205%2072.4453%20133.965%2078.146%20136.644C83.8468%20139.323%2090.3581%20139.717%2096.3406%20137.745H96.9908C99.8889%20136.687%20102.391%20134.763%20104.158%20132.235C105.924%20129.707%20106.87%20126.697%20106.866%20123.614C106.859%20121.309%20106.298%20119.04%20105.23%20116.998C104.162%20114.955%20102.619%20113.199%20100.729%20111.878C100.081%20111.452%2099.6111%20110.804%2099.4089%20110.056C99.2067%20109.307%2099.2862%20108.511%2099.6322%20107.817C99.901%20107.267%20100.316%20106.802%20100.832%20106.472C101.349%20106.143%20101.946%20105.962%20102.558%20105.949C103.167%20105.948%20103.763%20106.132%20104.265%20106.477C106.909%20108.314%20109.095%20110.734%20110.653%20113.551C112.21%20116.368%20113.097%20119.505%20113.246%20122.72C113.363%20126.753%20112.328%20130.735%20110.262%20134.201C108.197%20137.668%20105.186%20140.474%20101.583%20142.293C103.566%20146.186%20106.55%20149.482%20110.227%20151.843C113.904%20154.205%20118.143%20155.548%20122.511%20155.734C125.008%20155.86%20127.496%20155.343%20129.737%20154.234C131.978%20153.125%20133.897%20151.461%20135.311%20149.4C135.609%20148.962%20136.009%20148.604%20136.476%20148.357C136.943%20148.109%20137.464%20147.979%20137.993%20147.978C138.521%20147.979%20139.04%20148.114%20139.502%20148.37C139.964%20148.625%20140.354%20148.994%20140.635%20149.44C142.791%20152.845%20145.902%20155.542%20149.581%20157.194C153.259%20158.846%20157.342%20159.381%20161.322%20158.732C165.303%20158.082%20169.004%20156.278%20171.966%20153.543C174.927%20150.808%20177.019%20147.263%20177.98%20143.349C178.953%20139.297%20178.655%20135.044%20177.127%20131.167C176.19%20128.315%20174.233%20125.909%20171.631%20124.41C169.029%20122.911%20165.964%20122.425%20163.026%20123.045C160.014%20123.682%20157.364%20125.457%20155.63%20127.999C155.231%20128.625%20154.633%20129.097%20153.933%20129.34C153.232%20129.584%20152.47%20129.583%20151.769%20129.339C151.151%20129.115%20150.618%20128.706%20150.24%20128.169C149.862%20127.631%20149.658%20126.991%20149.656%20126.334C149.666%20125.79%20149.82%20125.257%20150.103%20124.791C151.822%20122.1%20154.2%20119.892%20157.011%20118.375C161.282%20116.117%20166.273%20115.64%20170.895%20117.047C175.517%20118.455%20179.394%20121.633%20181.678%20125.888C184.216%20130.682%20185.237%20136.134%20184.604%20141.522C190.271%20142.268%20196.03%20141.268%20201.113%20138.655C206.196%20136.043%20210.36%20131.943%20213.049%20126.903C214.276%20124.614%20214.944%20122.068%20215%20119.472C211.234%20120.552%20207.235%20120.521%20203.486%20119.383C199.737%20118.245%20196.397%20116.047%20193.869%20113.056Z%22%20fill%3D%22%2341B883%22%2F%3E%3Cdefs%3E%3Cfilter%20id%3D%22filter0_d_42_2%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22281%22%20height%3D%22225%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%3CfeFlood%20flood-opacity%3D%220%22%20result%3D%22BackgroundImageFix%22%2F%3E%3CfeColorMatrix%20in%3D%22SourceAlpha%22%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%20127%200%22%20result%3D%22hardAlpha%22%2F%3E%3CfeOffset%2F%3E%3CfeGaussianBlur%20stdDeviation%3D%2225%22%2F%3E%3CfeComposite%20in2%3D%22hardAlpha%22%20operator%3D%22out%22%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200.254902%200%200%200%200%200.721569%200%200%200%200%200.513726%200%200%200%201%200%22%2F%3E%3CfeBlend%20mode%3D%22normal%22%20in2%3D%22BackgroundImageFix%22%20result%3D%22effect1_dropShadow_42_2%22%2F%3E%3CfeBlend%20mode%3D%22normal%22%20in%3D%22SourceGraphic%22%20in2%3D%22effect1_dropShadow_42_2%22%20result%3D%22shape%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E") !important;
  }

  .monaco-workbench.vs-dark
    .part.editor
    > .content
    .editor-group-container
    .editor-group-watermark
    > .letterpress {
    height: 300px !important;
    width: 600px !important;
  }
